framework/scub-foundation-incubator-framework-core-implementation/conf/test/resources/database.dtd

<!ELEMENT dataset (
   (NUMBER_VALUE|
    PERSONNE_TYPE)*)>

<!ELEMENT NUMBER_VALUE EMPTY>
<!ATTLIST NUMBER_VALUE
    ID CDATA #REQUIRED
    INT_VALUE CDATA #IMPLIED
    VERSION CDATA #REQUIRED
>

<!ELEMENT PERSONNE_TYPE EMPTY>
<!ATTLIST PERSONNE_TYPE
    ID CDATA #REQUIRED
    LABEL CDATA #REQUIRED
    VERSION CDATA #REQUIRED
>

